
<div class="container">
	<form action="{% url "president_status_change" %}" method="post">

		{% csrf_token %}
		{{president_form.thesis_id}}
		<div class="row">
		
			<div class="col s12">
				<label>{{president_form.status.label}} </label>
				{{president_form.status}}<br>
			</div>
		</div>
		<div class="row">
			<br>
			<div class="col s12">
				<label>{{president_form.explanation.label}}</label> <br> <br>
				{{president_form.explanation}}<br>
			</div>
		</div>
		<br> 
		<div class="col s4">				
			<button class="waves-effect waves-light btn-large blue right" type="submit" name="action" value="Spremi">PROMIJENI STATUS</button>
		</div>
	</form>
	<br><br>
</div>